<!-- <h3>Hello World!</h3> -->
<!-- {{3 | currency}} Output: $3.00 -->

<!-- {{title}} Output: Angular Tutorial (Text Interpolation Binding)  -->
<!-- <input type="text" [value]="title"> Output: Angular Tutorial (Property Binding) -->
<!-- <app-home [pageName]="title"></app-home>  Output: Angular Tutorial (Custom Property Binding) -->

<!--Two Way Data Binding-->
<input type="text" [(ngModel)]="name" /> <br />
<input type="text" [(ngModel)]="name" /> <br />
{{ name }}
<!--End of Two Way Data Binding-->


<!-- 05. Interpolation Syntax -->

<p>{{text}}</p> 
<p ngNonBindable>{{text}}</p> 

 <p>{{person?.name}}</p> <!-- Interpolation Syntax and Nullable Operator -->
<p>{{text | uppercase}}</p> <!--  Interpolation Syntax and Pipes -->

<!-- End of 05. Interpolation Syntax -->
